body {
    margin: 0;
    background-image: url(assets/marte.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #f0f0f5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background: rgba(0, 0, 0, 0.6);
    padding: 4em;
    margin: 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board h1 {
    color: #f29849;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
}

.board h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.board p {
    color: #969696;
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.board .primeiro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board .primeiro-container .data {}

.board .primeiro-container .data p {
    font-size: 36px;
    margin-block-start: 0;
}

.board .primeiro-container .data h2 {
    font-size: 72px;
}

.board .segundo-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.board .terceiro-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}